/* elements */
body {
    background: #282828;
    color: #ebdbb2;
    font-size: 150%;
    padding-bottom: 60px;
    font-family: "EB Garamond", Garamond, serif;
}

main {
    margin: auto;
    max-width: 1080px;
    margin-top: 6px;
}

h1 {
    color: #7aeb97;
    font-size: 48px;
    margin-top: 3px;
    margin-bottom: 3px;
    text-align: center;
}

h2 {
    color: #ceeb7a;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

h3 {
    color: #eb7ace;
    margin-top: 18px;
    margin-bottom: 0;
}

h4 {
    color: #977aeb;
    margin-top: 0;
    margin-bottom: 0;
}

h5 {
    color: #7aceeb;
    margin-top: 0;
    margin-bottom: 0;
}

p {
    margin-top: 6px;
}

ul {
    margin-top: 6px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #63b8f0;
}

code {
    color: #7aeba9
}

img {
    margin: 6px auto;
    display: block;
    outline: solid;
    outline-color: #70b870;
    max-width: 50%;
}

hr {
    border: 0;
    border-top: 2px dashed #4e4e5e;
    max-width: 50%;
}

blockquote {
    border-left: 2px solid #4e4e5e;
    padding-left: 6px;
    margin-bottom: 0;
    position: relative;
    font-size: 75%;
}

cite {
    margin: auto;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 75%;
}

footer {
    font-variant: small-caps;
    margin-top: 60px;
    text-align: center;
}

/* sub-elements */

p a {
    text-decoration: underline;
}

footer a {
    text-decoration: underline;
}

ol li {
    padding: 6px;
}

/* classes */

.sidenote {
    font-style: italic;
    font-size: 75%;
}

.greentext {
    color: #70b870;
    font-size: 75%;
}

.meta {
    animation: pulseColours 2s infinite;
}

.pageDivider {
    border: 0;
    border-top: 1px solid #4e4e5e;
    border-bottom: 1px solid #4e4e5e;
    max-width: 100%;
}

.optional {
    font-style: italic;
}

.optional::after {
    content: " (optional)"
}

.showHide {
    cursor: pointer;
}

.standout {
    color: #faf062;
}

/* animations */

@keyframes pulseColours {
    0% {
        color: #ea6868;
    }

    25% {
        color: #7aceeb;
    }

    50% {
        color: #7aeb97;
    }

    75% {
        color: #7aceeb;
    }

    100% {
        color: #ea6868;
    }
}
