/* General style */
body {
    background: #1a1b1d;
    color: #fce1be;
    font-size: 125%;
    padding-bottom: 60px;
}

main {
    margin: auto;
    max-width: 960px;
    margin-top: 6px;
}

h1 {
    color: #7aeb97;
    font-size: 48px;
    margin-top: 3px;
    margin-bottom: 3px;
}

h2 {
    color: #ceeb7a;
}

h3 {
    color: #eb7ace;
}

h4 {
    color: #977aeb;
}

h5 {
    color: #7aceeb;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #63b8f0;
}

code {
    color: #7aeba9
}

img {
    margin: 6px auto;
    display: block;
    outline: solid;
    outline-color: #70b870;
    max-width: 50%;
}

hr {
    border: 0;
    border-top: 2px dashed #4e4e5e;
    max-width: 50%;
}

blockquote {
    border-left: 2px solid #4e4e5e;
    padding-left: 6px;
    margin-bottom: 0;
    position: relative;
}

cite {
    margin: auto;
    margin-left: 40px;
    margin-right: 40px;
}

footer {
	font-variant: small-caps;
    margin-top: 60px;
}

/* General style - groups and sub-elements */
h2, h3, h4, h5 {
    margin-top: 0;
    margin-bottom: 0;
}

h1, h2, footer {
    text-align: center;
    
}

p a, footer a {
    text-decoration: underline;
}

ol li {
    padding: 6px;
}

p, ul {
    margin-top: 6px;
}

/* General style - classes */
.sidenote {
    font-style: italic;
}

.greentext {
    color: #70b870;
}

.meta {
    animation: pulseColours 2s infinite;
}

.pageDivider {
    border: 0;
    border-top: 1px solid #4e4e5e;
    border-bottom: 1px solid #4e4e5e;
    max-width: 100%;
}

/* General style - classes - groups */
.sidenote, .greentext, blockquote, cite {
    font-size: 75%;
}

/* Animations */
@keyframes pulseColours {
    0% {
        color: #ea6868;
    }

    25% {
        color: #7aceeb; 
    }

    50% {
        color: #7aeb97;
    }

    75% {
        color: #7aceeb;
    }

    100% {
        color: #ea6868;
    }
}